body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:linear-gradient(135deg,#ff9ecf,#ffd6ec);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  overflow:hidden;
}

.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:30px;
  text-align:center;
}

/* รูป */
.main-img{
  width:320px;
  max-width:85%;
  border-radius:30px;
  box-shadow:
    0 0 60px rgba(255,105,180,0.4),
    0 10px 40px rgba(0,0,0,0.15);
  transition:0.4s ease;
}

.main-img:hover{
  transform:scale(1.05);
}

/* ปุ่ม */
button{
  padding:14px 35px;
  border:none;
  border-radius:30px;
  background:white;
  color:#ff4d94;
  font-size:16px;
  cursor:pointer;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
  transition:0.3s;
}

button:hover{
  transform:scale(1.08);
}

/* Popup */
.popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  display:none;
  justify-content:center;
  align-items:center;
}

.popup-box{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 40px rgba(0,0,0,0.3);
}

input{
  padding:10px;
  margin:15px 0;
  font-size:18px;
  text-align:center;
}

.hint{
  font-size:13px;
  color:#777;
}

/* การ์ดหน้าเซอร์ไพรส์ */
.card{
  background:white;
  padding:25px;
  border-radius:20px;
  max-width:320px;
  box-shadow:0 10px 40px rgba(0,0,0,0.2);
}

/* ซ่อน */
.hidden{
  display:none;
}
.title{
  margin-bottom:20px;
  font-size:28px;
  color:white;
  text-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* จัด grid */
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:40px;
  width:90%;
  max-width:1000px;
}

/* กรอบรูป */
.photo{
  background:white;
  padding:15px;
  border-radius:15px;
  box-shadow:0 15px 30px rgba(0,0,0,0.2);
  text-align:center;
  transition:0.4s;
}

.photo img{
  width:100%;
  border-radius:10px;
}

.photo p{
  margin-top:10px;
  font-size:14px;
}

/* ทำเอียง */
.tilt-left{
  transform:rotate(-6deg);
}

.tilt-right{
  transform:rotate(6deg);
}

/* เวลา hover ให้ตรง */
.photo:hover{
  transform:rotate(0deg) scale(1.05);
}

/* ข้อความท้าย */
.final-message{
  margin-top:40px;
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
.menu-card{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  cursor:pointer;
  transition:all .3s ease;
  font-size:14px;
}

.menu-card:hover{
  transform:scale(1.05);
  background:#fff0f6;
}